<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Expences</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="./styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="styles/extras.1.1.0.min.css">
  </head>
  <body class="h-100">
    
    <div class="container-fluid">
      <div class="row">
          <div class="main-content-container container-fluid px-4" style="margin-top: 30px;">
             
                  <form id="catForm" action="">
                    <div class="form-group">
                      <label for="category">Date</label>
                      <input type="date" class="form-control" id="category" placeholder="Enter the Date">
                    </div>
                     <div class="form-group">
                      <label for="category">Amount</label>
                      <input type="text" class="form-control" id="category" placeholder="Enter the Amount">
                    </div>

                    <div class="form-group">
                      <button  class="btn btn-danger">Cancel</button>
                      <button  class="btn btn-success">Submit</button>
                    </div>
                  </form>
                      
          </div>
      </div>
    </div>
    
    <script src="../renderer/category.js"></script>
  </body>
</html>