<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Item</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="./styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="styles/extras.1.1.0.min.css">
  </head>
  <body class="h-100">
    
    <div class="container-fluid">
      <div class="row">
          <div class="main-content-container container-fluid px-4" style="margin-top: 30px;">
            <!--<h6>Enter item details</h6>
            <hr>-->
                  <form action="">

                    <div class="form-group">
                      <label for="category">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Enter item name">
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="category">Category</label>
                        <select  id="category" class="form-control">
                          <option value="none">--Select category--</option>
                          <option value="none">Category 1</option>
                          <option value="none">Category 2</option>
                          <option value="none">Category 3</option>
                        </select>
                      </div>
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="sub-category">Sub category</label>
                        <select  id="sub-category" class="form-control">
                          <option value="none">--Select sub category--</option>
                          <option value="none">Category 1</option>
                          <option value="none">Category 2</option>
                          <option value="none">Category 3</option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="mfg">Manufracture</label>
                        <input type="text" class="form-control" id="mfg" placeholder="Enter manufracture">
                      </div>

                      <div class="form-group col-md-6 col-sm-6">
                        <label for="gst">GST</label>
                        <input type="text" class="form-control" id="gst" placeholder="Enter GST">
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="cgst">CGST</label>
                        <input type="text" class="form-control" id="cgst" placeholder="Enter CGST">
                      </div>

                      <div class="form-group col-md-6 col-sm-6">
                        <label for="usage">Uses</label>
                        <input type="text" class="form-control" id="usage" placeholder="Enter uses">
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="b-price">Buying price</label>
                        <input type="text" class="form-control" id="b-price" placeholder="Enter buying price">
                      </div>

                      <div class="form-group col-md-6 col-sm-6">
                        <label for="s-price">Sale price</label>
                        <input type="text" class="form-control" id="s-price" placeholder="Enter sale price">
                      </div>
                    </div>

                    <div class="form-group">
                      <button  class="btn btn-danger">Cancel</button>
                      <button  class="btn btn-success">Submit</button>
                    </div>
                  </form>
                      
          </div>
        </main>
      </div>
    </div>
    
    <script src="../renderer/category.js"></script>
  </body>
</html>