<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sales and purchage management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="./styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="styles/extras.1.1.0.min.css">
  </head>
  <body class="h-100">
    
    <div class="container-fluid">
       <div class="row">
        <!-- Navigation -->
        <nav class="navbar navbar-light" style="width: 100%; background-color: #eee">
          <div class="col-lg-12">
            <a href="index.html" class="btn btn-primary btn-sm">
              <i class="material-icons">apps</i>
              Dashboard
            </a>
            <a href="sale.html" class="btn btn-primary btn-sm">
              <i class="material-icons">local_grocery_store</i>
              Sale
            </a>
            <a href="master.html" style="font-weight: bolder; font-size: 25px; float: right">
              <i class="material-icons">menu</i>
            </a>
          </div>  
        </nav>
      </div>

      <div class="row">
          <div class="main-content-container container-fluid px-4">

            <div class="row">
              <!-- Navigation -->
              <div class="col-lg-12">
                <div class="page-header row no-gutters py-4">
                  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                    <h3 class="page-title">Master Entry</h3>
                  </div>
                </div>
                <button id="category" class="btn btn-info" style="font-size: 16px">
                  <i class="material-icons">subject</i>
                  Caregory
                </button>
                <button id="sub-category" class="btn btn-info" style="font-size: 16px">
                  <i class="material-icons">toc</i>
                  Sub Category
                </button>
                <button id="item" class="btn btn-info" style="font-size: 16px">
                  <i class="material-icons">add_circle</i>
                  Item
                </button>
                <button class="btn btn-info" style="font-size: 16px">
                  <i class="material-icons">store_mall_directory</i>
                  Stock
                </button>
                <button class="btn btn-info" style="font-size: 16px">
                  <i class="material-icons">web_assets</i>
                  Collection
                </button>
                <button class="btn btn-info" style="font-size: 16px">
                  <i class="material-icons">trending_down</i>
                  Expences
                </button>
                <button class="btn btn-info" style="font-size: 16px">
                  <i class="material-icons">supervised_user_circle</i>
                  Staff
                </button>

              </div> 
            </div>  


            <div class="row">
              <!-- Navigation -->
              <div class="col-lg-12">
                <div class="page-header row no-gutters py-4">
                  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                    <h3 class="page-title">Reports</h3>
                  </div>
                </div>
                <button id="category" class="btn btn-default" style="font-size: 20px">
                  <i class="material-icons">subject</i><br>
                  Caregory <br>
                </button>
                <button id="sub-category" class="btn btn-default" style="font-size: 20px">
                  <i class="material-icons">toc</i><br>
                  Sub Category <br>
                </button>
                <button id="item" class="btn btn-default" style="font-size: 20px">
                  <i class="material-icons">add_circle</i><br>
                  Item <br>
                </button>
                <button class="btn btn-default" style="font-size: 20px">
                  <i class="material-icons">store_mall_directory</i><br>
                  Stock <br>
                </button>
                <button class="btn btn-default" style="font-size: 20px">
                  <i class="material-icons">web_assets</i><br>
                  Collection <br>
                </button>
                <button class="btn btn-default" style="font-size: 20px">
                  <i class="material-icons">trending_down</i><br>
                  Expences <br>
                </button>
                <button class="btn btn-default" style="font-size: 20px">
                  <i class="material-icons">supervised_user_circle</i><br>
                  Staff <br>
                </button>

              </div> 
            </div>  


          </div>
        </main>
      </div>
    </div>
    
    <script src="../renderer/master.js"></script>
  </body>
</html>