<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Staff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="./styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="styles/extras.1.1.0.min.css">
  </head>
  <body class="h-100">
    
    <div class="container-fluid">
      <div class="row">
          <div class="main-content-container container-fluid px-4" style="margin-top: 30px;">
            <!--<h6>Enter item details</h6>
            <hr>-->
                  <form action="">

                    <div class="form-group">
                      <label for="category">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Enter the Emp name">
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="category">Joing_date</label>
                        <input type="date" class="form-control" id="doj" placeholder="Enter joining date">
                      </div>
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="sub-category">Date_of_Birth</label>
                         <input type="date" class="form-control" id="dob" placeholder="Enter Date_of_Birth">  
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="mfg">Gender</label>
                          <select  id="gender" class="form-control">
                          <option value="none">--Select Gender--</option>
                          <option value="none">Male</option>
                          <option value="none">Female</option>
                        
                        </select>
                      </div>

                      <div class="form-group col-md-6 col-sm-6">
                        <label for="gst">Desigantion</label>
                        <input type="text" class="form-control" id="designation" placeholder="Enter Designation">
                      </div>
                  
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="gst">Salary</label>
                        <input type="text" class="form-control" id="salary" placeholder="Enter Salary Amt">
                      </div>
                    </div>
                     
                      <div class="row">
                       <div class="form-group col-md-6 col-sm-6">
                         <label for="category">Address</label>
                         <input type="text" class="form-control" id="name" placeholder="Enter the Village">
                       </div>

                 
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="cgst"></label>
                        <input type="text" class="form-control" id="cgst" placeholder="Enter Post Office">
                      </div>
                     </div>
                     <div class="row">
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="usage"></label>
                        <input type="text" class="form-control" id="usage" placeholder="Enter Police Station">
                      </div>
                   
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="b-price"></label>
                        <input type="text" class="form-control" id="b-price" placeholder="Enter District">
                      </div>
                     </div>
                     <div class="row">
                      <div class="form-group col-md-6 col-sm-6">
                        <label for="s-price"></label>
                        <input type="text" class="form-control" id="s-price" placeholder="Enter State">
                      </div>
                       <div class="form-group col-md-6 col-sm-6">
                        <label for="s-price"></label>
                        <input type="text" class="form-control" id="s-price" placeholder="Enter the Mobile Number">
                      </div>
                    </div>

                    <div class="form-group">
                      <button  class="btn btn-danger">Cancel</button>
                      <button  class="btn btn-success">Submit</button>
                    </div>
                  </form>
               </div>        
          </div>
        </main>
      </div>
    </div>
    <script src="../renderer/category.js"></script>
  </body>
</html>