<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Staff Report</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="styles/extras.1.1.0.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
        <!-- Navigation -->
        <nav class="navbar navbar-light" style="width: 100%; background-color: #eee">
          <div class="col-lg-12">
            <a href="index.html" class="btn btn-primary btn-sm">
              <i class="material-icons">apps</i>
              Dashboard
            </a>
            <a href="sale.html" class="btn btn-secondary btn-sm">
              <i class="material-icons">local_grocery_store</i>
              Sale
            </a>
            <a href="master.html" style="font-weight: bolder; font-size: 25px; float: right">
              <i class="material-icons">menu</i>
            </a>
          </div>  
        </nav>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" >
          
            <div class="col col-lg-8 col-md-12 col-sm-12 col-xs-12 offset-lg-2">
                <h4 style="margin-top:10px;">Staff Report</h4>
                <table class="table table-hover table-bordered" style="margin-right:10px; margin-top:20px; width: 100%;">
                    <thead>
                      <th>ID</th>
                      <th>Name</th>
                      <th>DOB</th>
                      <th>DOJ</th>
                      <th>Gender</th>
                      <th>Designation</th>
                      <th>PO</th>
                      <th>PS</th>
                      <th>Mobile</th>
                      <th>Salary</th>
                      
                      <th width="20%">Action</th>
                    </thead>
                    <tbody id="staffTableBody">
                      
                    </tbody>
                  </table>
            </div>
        </div>
        
      </div>
    </div>  
    <script src="./scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="./scripts/bootstrap.min.js"></script>
   
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>-->
    <script src="./scripts/extras.1.1.0.min.js"></script>
    <script src="./scripts/shards-dashboards.1.1.0.min.js"></script>
    <!--<script src="scripts/app/app-blog-overview.1.1.0.js"></script>-->
    
    <script>
      const {electron, dialog} = require('electron').remote;
      const mysql = require('mysql');
      var connection = mysql.createConnection({
        host     : 'localhost',
        user     : 'root',
        password : '',
        database : 'sales'
      });
      connection.connect();
      var staffTable = document.querySelector('#staffTableBody');
      let sql = `SELECT * FROM staff_tbl`;
      connection.query(sql, function (error, results, fields) {
        if (error){
          dialog.showErrorBox(null,{message: 'sub-Category inserted failed',  buttons: ["OK", "Close"] });
        } else{
          for(let i =0; i< results.length; i++){
            let tr = `<tr> 
                          <td> ${results[i].id}</td>
                          <td> ${results[i].name} </td>
                           <td> ${results[i].dob}</td>
                          <td> ${results[i].doj} </td>
                          <td> ${results[i].gender}</td>
                          <td> ${results[i].designation}</td>
                          <td> ${results[i].po}</td>
                          <td> ${results[i].ps} </td>
                          <td> ${results[i].mobile}</td>
                          <td> ${results[i].salary} </td>
                          <td>
                            <a href="" class="btn btn-sm btn-info">Edit</a>
                            <a href="#" class="btn btn-sm btn-danger">Delete</a>
                          </td>
                      </tr>`;
            staffTable.innerHTML += tr;
          }
        }
      });

      $(document).ready( function () {
        $('#staffTable').DataTable();
      });
    </script>
  </body>
</html>